*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.wrapper{
    width:100%;
    height:900px;
    background-color: #EBF2FF;
}

.navBar{
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.navBar>img{
    width: 37px;
    height: 37px;
    margin-left: 10px;
}

.logo{
    width: 6%;
    height: 32px;
    justify-content: center;
    margin-left: -18%;
    font-family: Poppins, sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.01em;
    color: #063852;
}

.nav1{
    width: 25%;
    /*height: 50%;*/
    font-size: 24px;
    font-weight: 700;
    font-family: Poppins, sans-serif;
    margin: 50px 10px 50px 10px;
    display:flex;
    gap: 50px;
    /*align-items: center;*/
    list-style: none;
}

.nav1 a{
    text-decoration: none;
}

.list1{
    width: 42px;
    height: 20px;
    font-size: 14px;
    font-weight: 500;
    color: #063852;
    line-height: 20px;
    font-family: Poppins, sans-serif;
}

.list2{
    width: 43px;
    height: 20px;
    font-size: 14px;
    font-weight: 500;
    color: #9EA3AE;
    line-height: 20px;
    font-family: Poppins, sans-serif;
}

button{
    width: 135px;
    height: 48px;
    background: #2374EE;
    border: none;
    border-radius: 25px;
}

.contact{
    width: 80px;
    height: 20px;
    margin-left: 27px;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    color: #FFFFFF;
    font-family: Poppins,sans-serif;
    line-height: 20px;
}

.navBar2{
    display: flex;
    justify-content: space-around;
}

.navBar_text{
    width: 500px;
    height: 450px;
    margin: 10% 5% 0% 10%;
    color: #063852;
}

.text{
    width: 400px;
    height: 220px;
    font-size: 65px;
    font-weight: 700;
    font-family: Poppins, sans-serif;
    line-height: 70px;
}

.text>span{
    width: 400px;
    font-size: 65px;
    font-weight: 700;
    font-family: Poppins, sans-serif;
    color: #2374EE;
}

.text2{
    width: 450px;
    height: 100px;
    font-size: 18px;
    font-weight: 500;
    font-family: Poppins, sans-serif;
    color: #9EA3AE;
    margin: 5% 5% 5% 0%;
}

.navBar_base{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    height: 70px;
    margin: 0% 10% 5% 0%;
}

.trial_btn{
    width: 180px;
    height: 58px;
    border-radius: 37px;
    background: #2374EE;
    margin-left: -6%;
}

.trial{
    width: 110px;
    height: 25px;
    font-size: 16px;
    font-weight: 500;
    margin-left: 20%;
    font-family: Poppins, sans-serif;
    color: #FFFFFF;
    line-height: 25px;
}

.demo{
    width: 91px;
    height: 3vh;
    margin-left: -25px;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    font-family: Poppins, sans-serif;
    color: #063852;
    line-height: 24px;
}

.dashboard{
    width: 1200px;
    height: 855px;
    margin-top: 5%;
    rotation: 1deg;
    color: #F6F6F6;
}